.container{
	display: table;
	width: 100%;
}

#left{
	position: absolute;
	left: 0px;
	width: 35%;
}

#right{
	position: absolute;
	right: 0px;
	width: 65%;
	top: 0px;
}

#menu{

	width: 100%;

}

#desk label, #vrot label, #vrot-cont label, #stp label, #popden label, #tds label{
	font-size: 11pt;
}

#wsde-lower-table, #wsde-upper-table {
	table-layout: fixed;
	border-collapse: collapse;
}

#wsde-lower-table table, #wsde-lower-table th, #wsde-lower-table td{
	border: 1px solid black;
}

#wsde-lower-table .col1, #wsde-lower-table .col3{
	width: 30px;
}
#wsde-lower-table .col2{
	/*width: 200px;*/
}
#wsde-upper-table table, #wsde-upper-table th, #wsde-upper-table td{
	border: 1px solid black;
}

#wsde-upper-table .col1, #wsde-upper-table .col3{
	width: 30px;
}
#wsde-upper-table .col2{
	/*width: 200px;*/
}

#ibw-table tr, #ibw-table td{
	border: 1px solid black;
}

#errorcheck1, #errorcheck2{
	background-color: #41BB00;
	width: 95%;
}

#textarea-1, #textarea-2{
	width: 95%;
	height: 500px;
}

#textarea-3, #textarea-4{
	width: 95%;
	height: 100px;
	margin-left: 1px;
	margin-right:1px;
}

.ui-state-active{
	/*background: rgba(0,60,136,1.0) !important;*/
	background: rgba(0,54,255,1.0) !important;
	color: white;
}

#ef-scale{
	background-image: url("/mosier/textgen/css/ef-scale-legend_textgen.png");
	background-repeat: no-repeat;
}

#ef-box{
	border: 2px solid red;
	height: 100px;
	width: 300px;
	display: none;
	position: relative;
}

#ef-box-text{
	font-size: 8.5pt;
	font-weight: bold;
	position: absolute;
	bottom: 0px;
	left: 0px;
	
}
