.container{
	display: table;
	width: 100%;
}


#menu{

	width: 100%;

}
#vrot-toolbar, #vrot-duration-toolbar, #sigtor-toolbar, #popden-toolbar, #tds-toolbar{
	margin-bottom: -0.5px;
}
#vrot-toolbar fieldset, #vrot-duration-toolbar fieldset, #sigtor-toolbar fieldset, #popden-toolbar fieldset, #tds-toolbar fieldset{
	border: 1px groove #ddd;
	padding: 0 1.4em 0.4em 1.4em;
	margin: 0 0 0.1em 0;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}
#vrot-toolbar legend, #vrot-duration-toolbar legend, #sigtor-toolbar legend, #popden-toolbar legend, #tds-toolbar legend{
	float: none;
	width: auto;
	border-bottom: none;
	font-size: 1.0em;
	font-weight: bold;
	text-align: left;
}

#desk label, #vrot label, #vrot-cont label, #stp label, #popden label, #tds label, #prev span, #next span, #clear span{
	font-size: 11pt;
}

#wsde-lower-table, #wsde-upper-table {
	table-layout: fixed;
	border-collapse: collapse;
}

#wsde-lower-table table, #wsde-lower-table th, #wsde-lower-table td{
	border: 1px solid black;
}

#wsde-lower-table .col1, #wsde-lower-table .col3{
	width: 30px;
}
#wsde-lower-table .col2{
	/*width: 200px;*/
}
#wsde-upper-table table, #wsde-upper-table th, #wsde-upper-table td{
	border: 1px solid black;
}

#wsde-upper-table .col1, #wsde-upper-table .col3{
	width: 30px;
}
#wsde-upper-table .col2{
	/*width: 200px;*/
}

#ibw-table tr, #ibw-table td{
	border: 1px solid black;
}

#errorcheck1, #errorcheck2{
	background-color: #41BB00;
	width: 95%;
}

#textarea-1, #textarea-2{
	width: 95%;
	height: 500px;
}

#textarea-3, #textarea-4{
	width: 95%;
	height: 100px;
	margin-left: 1px;
	margin-right:1px;
}

.ui-state-active{
	/*background: rgba(0,60,136,1.0) !important;*/
	background: rgba(0,54,255,1.0) !important;
	color: white;
}

#ef-scale{
	/*
	background-image: url("./ef-scale-legend_textgen.png");
	background-repeat: no-repeat;
	*/
}

#ef-scale img{
	max-width:100%;
	height:auto;
}

#ef-box{
	border: 2px solid red;
	height: 100px;
	width: 300px;
	display: none;
	position: relative;
}

#ef-box-text{
	font-size: 8.5pt;
	font-weight: bold;
	position: absolute;
	bottom: 0px;
	left: 0px;

}

#canvas-3{
}
